<form>
    <!-- <mat-icon matPrefix>search</mat-icon> -->
    <mat-form-field class="search-field">
        <input
            #searchInput
            type="text"
            placeholder="Поиск"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
        >
        <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="display"
            (optionSelected)="handleSelect($event)"
        >
            <mat-option
                [value]="article"
                *ngFor="let article of filteredArticles"
            >
                {{ article.title }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
