.comment-field {
  display: block;
}

.comment {
  box-sizing: border-box;
  padding: 6px 20px;

  position: relative;
}

.comment-date {
  margin: 8px 0;
}

.comment-text {
  margin: 8px 0;
  white-space: pre-line;
}

.comment-field {
  margin-bottom: 4px;
}

.comment-controls {
  position: absolute;
  top: 0;
  right: 20px;
}

.hidden {
  opacity: 0;
}

.button {
  margin-right: 24px;
}