.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  height: 72px;
  padding: 24px;

  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header-link {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
