.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #c4c4c4;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

.header-link {
  display: block;
  flex-grow: 1;
  padding: 24px 40px;
  color: #212121;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.header-link-content {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media(max-width: 960px) {
  .search-input {
    border: none;
  }
  .main-header {
    flex-direction: column-reverse;
  }
  .header-link {
    padding: 10px 20px;
    border-bottom: 1px solid #c4c4c4;
  }
}

@media(max-width: 559px) {
  .header-link {
    padding-bottom: 0;
  }
}

@media(max-width: 353px) {
  .header-link {
    font-size: 14px;
  }
}