
<div>
  <form [formGroup] = "uploadForm">
  <input #fileUpload type="file" (change)="onFileSelect($event)"/>
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
      Загрузить файл
    </button>
  </form>
  <app-file-view [articleId]="articleId" [deleteEnabled]="true"></app-file-view>
  <div *ngFor="let file of files; let i = index "  class="uploaded-files-wrapper">            
      <div class = "uploaded-files-wrapper">
          <mat-icon class="mat-icon">attach_file</mat-icon>
          {{file.name}}
      </div>
      <button mat-icon-button (click)="delete(i)">
          <mat-icon  class="mat-icon">close</mat-icon>
      </button>
  </div>
</div>