<mat-form-field class="example-full-width text-field">
  <input [(ngModel)]="title" matInput placeholder="Заголовок">
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Статус" [(value)]="articleStatus">
    <mat-option *ngFor="let status of statuses" [value]="status.value">
      {{ status.view }}
    </mat-option>
  </mat-select>
</mat-form-field>

<quill-editor
  placeholder=""
  [modules] = "quillConfig"
  [(ngModel)]="content"></quill-editor>
<app-file-uploader [articleId]="id" [isUploading]="isUploading"></app-file-uploader>
<div class="btn-contols">
  <button (click)="save();" mat-raised-button 
          color="primary" 
          class="button"
          [disabled]="isUploading">
    Сохранить
  </button>
  <button (click)="goBack()" 
          mat-button 
          class="button" 
          [disabled]="isUploading">
    Отменить
  </button>
</div>
