<mat-form-field class="example-full-width text-field">
  <input [(ngModel)]="title" matInput placeholder="Заголовок">
</mat-form-field>

<mat-form-field class="example-full-width text-field">
  <textarea [(ngModel)]="content" matInput class="textarea"></textarea>
</mat-form-field>

<div class="btn-contols">
  <button (click)="save();" mat-raised-button color="primary" class="button">
    Сохранить
  </button>
  <button [routerLink]="['/articles', id]" mat-raised-button class="button">
    Отменить
  </button>
</div>