.article {
  position: relative;
}

.title {
  flex:1;
  margin: 0;

  color: #212121;

  line-height: 1.2;
  font-size: 48px;
  font-weight: 400;
}

.header-container {
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 24px 0;

  font-size: 12px;
}

.content {
  margin: 24px 0;
}

 .btn-controls {
  margin-left: 24px;
}

.files-wrapper {
  display: block;
  margin-bottom: 24px;
}

@media (max-width: 960px) {
  .title {
    font-size: 28px;
  }
}
