<div class="article" *ngIf="article; else elseBlock">
  <div class = header-container>
    <h1 class="title">
      {{ article.title }}
    </h1>
    <div class="btn-controls">
      <app-article-menu 
        [articleId]="article.id"
        [menuIcon]="'more_horiz'"
      ></app-article-menu>
    </div>
  </div>
  
  <div class="content">
    <div class="info">
      <span>Статус: {{ article.status }}</span>
      <span>Версия: {{ article.version }}</span>
      <span>Последнее обновление: {{ article.updateTime | date: "dd.MM.yyyy HH:mm" }}</span>      
    </div>

    <quill-view
      [content]="article.content"
      format="text"
      [modules]="{clipboard: {matchVisual: false}}"
      theme="snow"></quill-view>

  </div>

  <app-file-view class="files-wrapper" [articleId]="article.id"></app-file-view>
  <app-tags [articleId]="article.id"></app-tags>

  <app-comments [articleId]="article.id"></app-comments>

</div>

<ng-template #elseBlock>
  Не выбрана статья
</ng-template>