<div class="article" *ngIf="article; else elseBlock">
  <div>
    <h1 class="title">
      {{ article.title }}
    </h1>
  </div>

  <div class="info">
    <div>
      {{ article.updateTime | date: "dd.MM.yyyy hh:mm" }}
      <span class="version">версия: {{ article.version }}</span>
    </div>
    <div class="content" markdown [data] = 'article.content'>
    </div>
  </div>

  <div class="btn-controls">
    <button mat-icon-button [routerLink]="['/articles', article.id, 'edit']">
      <mat-icon>create</mat-icon>
    </button>

    <button mat-icon-button mat-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Удалить</button>
      <button mat-menu-item>Переместить</button>
      <button mat-menu-item [routerLink]="['/articles', article.id, 'add']">
        Добавить дочернюю страницу
      </button>
    </mat-menu>

  </div>

  <app-tags [articleId]="article.id"></app-tags>

  <app-comments [articleId]="article.id"></app-comments>

</div>

<ng-template #elseBlock>
  Не выбрана статья
</ng-template>