<div *ngIf="comments.length > 0">
    <p class="caption">{{ comments.length + ' ' + getCommentCaption() }}</p>
    <app-comment *ngFor="let comment of comments;" [comment]="comment" (commentDelete)="handleCommentDelete($event)"></app-comment>
</div>
<mat-form-field class="comment-field">
    <textarea matInput placeholder="Написать комментарий" [(ngModel)]="commentText" cdkTextareaAutosize
        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addComment()" class="button">Отправить</button>