mat-sidenav-container {
    height: 100%;
    padding-top: 72px;
}

mat-sidenav {
    width: 320px;
    padding-top: 72px;

    background: #fafafa;
}

mat-sidenav-content {
    box-sizing: border-box;

    padding: 28px 40px 0;

    background: #ffffff;
}

.sidenav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;

    color: #616161;
}
