mat-sidenav-container {
    height: 100%;
    padding-top: 72px;
}

mat-sidenav {
    width: 320px;
    padding-top: 72px;

    background: #fafafa;
}

mat-sidenav-content {
    box-sizing: border-box;

    padding: 28px 40px 0;

    background: #ffffff;
}

.sidenav-content {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;

    color: #616161;
}

@media (max-width: 960px) {
    mat-sidenav-container {
        background-color: #ffffff;
    }

    mat-sidenav-content {
        position: relative;

        padding-left: 70px;
        padding-right: 70px;
    }

    .sidenav-btn-open {
        position: fixed;
        top: 100px;
        left: 5px;
        z-index: 100;
    }
    
    .sidenav-btn-close {
        position: absolute;
        top: 100px;
        right: 5px;
    }
}

@media (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }
}