mat-sidenav-container {
    height: 100%;
    padding-top: 72px;
}

mat-sidenav {
    width: 320px;
    padding-top: 72px;
}

mat-sidenav-content {
    padding: 40px;
    background: #ffffff;
    box-sizing: border-box;
}

.sidenav-content {
    max-width: 1200px;
    margin: 0 auto;

    color: #616161;
}
