:host {
  display: block;
  padding: 0 12px;
}
.hidden {
  display: none;
}
.tree-invisible {
  display: none;
}


.tree ul{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  
}
.tree li {
  list-style: none;
  padding: 0px;
  
}

.heading-link {
  color: #222;
  text-decoration: none;
  padding: 12px 24px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.heading-link:hover {
  text-decoration: underline;
}
.selected {
  font-weight: bold;
}

.kebab-button {
  margin-left: auto;
  visibility: hidden;
}
.mat-tree-node:hover .kebab-button, .kebab-button:hover{
  visibility: visible;
}
.add-rubric-icon {
  margin-right: 6px;
}
.add-rubric-button {
  /* font-size: 16px; */
  display: flex;
  align-content: center;
  margin-left: 12px;
}