:host {
  display: block;
  padding: 0 12px;
}
.hidden {
  display: none;
}
.tree-invisible {
  display: none;
}


.tree ul{
  margin: 0;
  padding: 0;
  
}
.tree li {
  list-style: none;
  padding: 0px;
  
}

.heading-link {
  color: #222;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
 
.heading-link-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.heading-link:hover .heading-link-content {
  text-decoration: underline;
}

.selected {
  font-weight: bold;
}

.kebab-button {
  margin-left: auto;
  visibility: hidden;
}
.mat-tree-node:hover .kebab-button, .kebab-button:hover{
  visibility: visible;
}

.add-rubric-button {
  /* font-size: 16px; */
  display: flex;
  align-items: center;
  /* margin-left: 12px; */
  padding: 0;
  padding-right: 12px;
}

.tree-node {
  display: block;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
  /* text-overflow: ellipsis; */
}

.tree > .tree-node {
  padding: 0;
}

.icon-wrapper {
  flex: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.54);
  width: 40px;
  height: 40px;
}

.icon:hover {
  text-decoration: none;
}
