.mat-tree-node {
  color: #616161;
}

.kebab-button {
  margin-left: auto;
}

.hidden {
  opacity: 0;
}

.node-title {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
}
