/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/quill/dist/quill.snow.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #5f6368;
  font-weight: 400;
}

.ql-container {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3,
.ql-snow .ql-editor h4,
.ql-snow .ql-editor h5,
.ql-snow .ql-editor h6 {
  margin: 0 0 8px;
  color: #212121;
  font-weight: 400;
  line-height: 1.2;
}

.ql-snow .ql-editor h1 {
  font-size: 34px;
}

.ql-snow .ql-editor h2 {
  font-size: 24px;
}

.ql-snow .ql-editor h3 {
  font-size: 20px;
  font-weight: 500;
}

.ql-snow .ql-editor h4 {
  font-size: 16px;
}

.ql-snow .ql-editor p {
  font-family: "Roboto", sans-serif;
}

.ql-snow .ql-picker.ql-header {
  width: 105px;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: "Заголовок 1";
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: "Заголовок 2";
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: "Заголовок 3";
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: "Заголовок 4";
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "Абзац";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
  content: "Маленький";
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: "Обычный";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
  content: "Большой";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="huge"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="huge"]::before {
  content: "Огромный";
}

.ql-snow .ql-picker.ql-font {
  width: 130px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Без засечек';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'С засечками';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Моноширинный';
}

quill-view .ql-editor {
  padding: 0;
}

quill-editor .ql-container {
  height: 500px;
}

@media (max-width: 960px) {
  .ql-snow .ql-editor h1 {
    font-size: 24px;
  }
  
  .ql-snow .ql-editor h2 {
    font-size: 22px;
  }
  
  .ql-snow .ql-editor h3 {
    font-size: 20px;
  }
  
  .ql-snow .ql-editor h4 {
    font-size: 18px;
  }

  .ql-snow .ql-editor p {
    font-size: 14px;
  }
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #616161;
}